body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}
.user-auth {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
}
.user-info {
    /* 样式设置 */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    display: none;
}
/* 可以添加一些额外的样式来美化信息框 */
.user-auth a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-block; /* 确保按钮是块状元素，以便添加图标 */
}
.user-auth a:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#loginBtn {
    background-color: #17a2b8;
    border: 2px solid transparent;
}
#loginBtn:hover {
    background-color: #138496;
    border-color: #117a8b;
}
#logoutBtn {
    display: none; /* 默认不显示，将在JS中控制 */
}
#logoutBtn:hover {
    background-color: #f5c6cb;
    border-color: #f1b0b7;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; /* 确保所有产品单元在交叉轴上具有相同的高度 */
}
.item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto; /* 防止flex项自动伸缩 */
    width: calc(25% - 20px); /* 根据布局调整宽度 */
}
.item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px; /* 如果需要圆角图片 */
}
/* 新增的样式，确保按钮容器有足够的高度，并且使用flexbox垂直居中内容 */
.item .buy-container {
    display: flex; /* 使用flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 50px; /* 给定一个高度，确保按钮位置一致 */
    margin-top: 10px; /* 按钮容器上边距 */
}
.buy-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px; /* 调整按钮内边距 */
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* 确保文本在按钮内居中 */
}
/* 调整媒体查询以适应不同屏幕尺寸 */
@media (max-width: 768px) {
    .item {
        width: calc(50% - 20px); /* 在小屏幕上改为两列布局 */
    }
}
@media (max-width: 480px) {
    .item {
        width: 100%; /* 在更小屏幕上堆叠为一列布局 */
        margin: 10px 0; /* 调整上下margin */
    }
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}