<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rem.mapper.ItemMapper">

    <resultMap id="BaseResultMap" type="com.rem.entity.Item">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="itemId" column="item_id" jdbcType="VARCHAR"/>
            <result property="itemName" column="item_name" jdbcType="VARCHAR"/>
            <result property="itemImage" column="item_image" jdbcType="VARCHAR"/>
            <result property="itemDesc" column="item_desc" jdbcType="VARCHAR"/>
            <result property="itemQuantity" column="item_quantity" jdbcType="INTEGER"/>
            <result property="itemStatus" column="item_status" jdbcType="TINYINT"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,item_id,item_name,
        item_image,item_desc,item_quantity,
        item_status,amount
    </sql>
</mapper>
